<h1>{{title}}</h1>

<button class="btn btn-primary"
    id="checkout-button-pro-month"
    role="link">Holler Pro(monthly) with backend</button>
<button class="btn btn-primary"
    id="checkout-button-pro-year"
    role="link">Holler Pro(yearly) with backend</button>
<script>
  (function () {
    var stripeKey = "{{key}}";
    var stripe = Stripe(stripeKey);

    const handler = (period) => {
      return fetch(`/checkout/pro?period=${period}`)
        .then(response => response.json())
        .then(session => {
          console.log(session);
          stripe.redirectToCheckout({
            sessionId: session.id
          }).then((result) => {
            console.log(result);
          });
        })
        .catch(console.error);
    }

    const checkoutButtonMonthly = document.getElementById('checkout-button-pro-month');
    checkoutButtonMonthly.addEventListener('click', () => handler("month"));
    const checkoutButtonYearly = document.getElementById('checkout-button-pro-year');
    checkoutButtonYearly.addEventListener('click', () => handler("year"));
  })();
</script>

<button
    class="btn btn-warning"
    id="checkout-button-client"
    role="link"
>
  Checkout Holler Pro client only
</button>
<button
    class="btn btn-success"
    id="plan-test"
    role="link"
>
  Test stripe connection
</button>

<div id="error-message"></div>

<script>
  (function() {
    var stripeKey = "{{key}}";
    var stripePlan = "{{plan}}"
    var stripe = Stripe(stripeKey);

    var testButton = document.getElementById('plan-test');
    testButton.addEventListener('click', function () {
      fetch('/test')
          .then(response=>response.json())
          .then(session => {console.log(session);})
    })    

    var checkoutButton = document.getElementById('checkout-button-client');
    checkoutButton.addEventListener('click', function () {
      // When the customer clicks on the button, redirect
      // them to Checkout.
      stripe.redirectToCheckout({
        items: [{plan: stripePlan, quantity: 1}],
        successUrl: '{{redirectTo}}/success?session_id={CHECKOUT_SESSION_ID}',
        cancelUrl: '{{redirectTo}}/cancel',
        clientReferenceId: '123123123'
      })
          .then(function (result) {
            if (result.error) {
              // If `redirectToCheckout` fails due to a browser or network
              // error, display the localized error message to your customer.
              var displayError = document.getElementById('error-message');
              displayError.textContent = result.error.message;
            }
          });
    });
  })();
</script>