<div>
    <h2>All customers</h2>
    {{#if message}}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {{/if}}
    <div>
        <a class="btn btn-primary" href="/users/all">Load customers</a>
        <ul id="cust_list" class="list-group">
            {{#each customers}}
            <li class="list-group-item">
                <label>Customer:</label>&nbsp;<span>{{this.id}}</span>&nbsp;<span>{{this.email}}</span>
                <a class="btn btn-warning" href="/users/{{this.id}}/cancel">Cancel all subscriptions</a>
                {{#each this.subscriptions}}
                    <a class="btn btn-info" href="/users/cancelsubscription/{{this}}">Cancel {{this}}</a>
                {{/each}}
                <pre id="code-{{this.id}}">{{this.data}}</pre>
                <button class="btn btn-default" id="btn-hide-data" onclick="hideData('code-{{this.id}}')">Show/Hide data</button>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<script>
    function hideData(codeId){
        var element = document.getElementById(codeId);
        if (element.style.display === "none") {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }
</script>