<div>
    <h2>All customers</h2>
    {{#if message}}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {{/if}}
    <div>
        <a class="btn btn-primary" href="/users/all">Load customers</a>
        <ul id="cust_list" class="list-group">
            {{#each customers}}
            <li class="list-group-item">
                <p>
                    <label>Customer:</label>&nbsp;<span>{{this.id}}</span>&nbsp;<span class="font-weight-bold">{{this.email}}</span>
                    {{#each this.subscriptions}}
                        <a class="btn btn-warning" href="/users/removesubscription/{{this}}">Cancel {{this}}</a>
                        <a class="btn btn-info" href="/users/cancelsubscription/{{this}}">Cancel recurring {{this}}</a>
                    {{/each}}
                    <a href="/users/{{this.id}}/invoices">Show invoices</a>
                </p>
                <button class="btn btn-default" id="btn-hide-data" onclick="hideData('code-{{this.id}}')">Show/Hide data</button>
                <div id="code-{{this.id}}" style="display: none;">{{{this.data}}}</div>
            </li>
            {{/each}}
        </ul>
        <ul id="invoice_list" class="list-group">
            {{#each invoices}}
                <li class="list-group-item">
                    <a class="btn btn-success" href="{{this.url}}" target="_blank">Download</a>
                     <div>{{{this.data}}}</div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
<script>
    function hideData(codeId){
        var element = document.getElementById(codeId);
        if (element.style.display === "none") {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }
</script>